* ,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif,'Kaushan Script', cursive;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style-type: none;
}